@page "/account/register"
@attribute [AllowAnonymous]
@layout BlankLayout

@using Core.Application.Services.IServices
@using Microsoft.AspNetCore.Components
@using Core.Application.Models
@using System.ComponentModel.DataAnnotations
@using System.Web
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting

@inject IUserService UserService;
@inject NavigationManager Navigation;
@inject IWebHostEnvironment HostEnvironment;
@inject IEmailService EmailService;

<section class="d-flex justify-content-center">
    <div class="col-md-5 mb-5 card">
        <div class="card-header"> <h5>Sign up to start tracking your expenses</h5> </div>
        <div class="card-body">
            <EditForm Model="@Input" OnValidSubmit="@RegisterUser" class="form-floating">
                <DataAnnotationsValidator/>
                <div class="has-float-label mb-3">
                    <InputText id="inputFullName" class="form-control" @bind-Value="@Input.FullName" placeholder="Full name" autocomplete="off" spellcheck="false"/>
                    <label for="inputFullName">Full name</label>
                    <ValidationMessage For="@(() => Input.FullName)"/>
                </div>

                <div class="has-float-label mb-3">
                    <InputText id="inputEmail" class="form-control" @bind-Value="@Input.Email" placeholder="Email address" autocomplete="off" spellcheck="false"/>
                    <label for="inputEmail">Email</label>
                    <ValidationMessage For="@(() => Input.Email)"/>
                </div>

                <div class="has-float-label mb-3">
                    <InputText id="inputPassword" type="password" class="form-control" @bind-Value="@Input.Password" placeholder="Password" autocomplete="off" spellcheck="false"/>
                    <label for="inputPassword">Password</label>
                    <ValidationMessage For="@(() => Input.Password)"/>
                </div>

                <div class="has-float-label mb-3">
                    <InputText id="inputConfirmPassword" type="password" class="form-control" @bind-Value="@Input.ConfirmPassword" placeholder="Confirm Password" autocomplete="off" spellcheck="false"/>
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <ValidationMessage For="@(() => Input.ConfirmPassword)"/>
                </div>

                <div class="mb-3">
                    By creating an account, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
                </div>

                <div class="md-3">
                    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                    {
                     <div class="alert alert-danger">
                        <span class="oi oi-warning"></span>
                        @((MarkupString)ErrorMessage)
                        </div>
                    }
                </div>
                <div class="md-3 row g-3">
                    <div class="col-auto">
                        <button type="submit" disabled="@IsSubmitting" class="form-control btn btn-primary">
                            <span class="spinner-border spinner-border-sm" hidden="@(!IsSubmitting)" role="status" aria-hidden="true"></span>
                            <span>Create Account</span>
                        </button>
                    </div>
                    <div class="col-auto col-form-label">
                        Already have an account? <a href="/account/login">Log In</a>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</section>

@* Debug only: print email confirmation link *@
@if (!string.IsNullOrWhiteSpace(EmailConfirmLink) && HostEnvironment.IsDevelopment())
{
    <textarea>@EmailConfirmLink</textarea>
}


@code {
    public bool IsSubmitting { get; set; }
    public RegisterInput Input { get; set; } = new RegisterInput();
    public string ErrorMessage { get; set; }

    public string EmailConfirmLink { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Input = new RegisterInput();
    }

    public async Task RegisterUser() {

        if (Input == null
            || string.IsNullOrWhiteSpace(Input.Email)
            || string.IsNullOrWhiteSpace(Input.FullName)
            || string.IsNullOrWhiteSpace(Input.Password))
        {
            return;
        }

        ErrorMessage = "";
        IsSubmitting = true;
        StateHasChanged();

        // Password match
        if (!Input.Password.Equals(Input.ConfirmPassword)) {
            ErrorMessage = "Confirm Password doesn't match the Password";
            IsSubmitting = false;
            StateHasChanged();
            return;
        }
        // Check email
        var existUser = await UserService.GetUserByEmailAsync(Input.Email);
        if (existUser != null)
        {
            ErrorMessage = "Email is already registered. Pleas enter a new email or <a href='/account/forgot-password' class='alert-link'>Reset the password </a>.";
            IsSubmitting = false;
            StateHasChanged();
            return;
        }

        // create
        var user = new UserDto()
        {
            Username = Input.Email,
            FullName = Input.FullName,
            Email = Input.Email,
            Password = Input.Password
        };

        var result = await UserService.CreateUserAsync(user);
        if (!result.Succeeded)
        {
            ErrorMessage = "Unexpected Error. Sorry, something went wrong please try again later";
            IsSubmitting = false;
            StateHasChanged();
            return;
        }

        // Confirm email
        var token = await UserService.GenerateEmailConfirmationTokenAsync(result.Data);
        EmailConfirmLink = $"{Navigation.BaseUri}account/confirmemail?uid={result.Data}&token={HttpUtility.UrlEncode(token)}";

        // Send email and redirect
        EmailService.SendEmailConfirmation(Input.Email, Input.FullName, EmailConfirmLink);
        Navigation.NavigateTo($"/account/registerverify/{result.Data}?email={HttpUtility.UrlEncode(Input.Email)}");
    }

    public class RegisterInput
    {
        [Required(ErrorMessage = "Full Name is required")]
        [MinLength(6, ErrorMessage = "Full Name must be at least 6 characters")]
        public string FullName { get; set; }

        [Required(ErrorMessage = "Email is required")]
        [EmailAddress]
        [MinLength(6, ErrorMessage = "Email must be at least 6 characters")]
        [StringLength(32, ErrorMessage = "Email too long (32 character limit)")]
        public string Email { get; set; }
        
        [Required(ErrorMessage = "Password is required")]
        [MinLength(6, ErrorMessage = "Password must be at least 8 characters")]
        [StringLength(32, ErrorMessage = "Password too long (32 character limit)")]
        public string Password { get; set; }

        [Required(ErrorMessage = "Confirm Password is required")]
        [CompareProperty("Password", ErrorMessage = "Confirm Password doesn't match the Password")]
        public string ConfirmPassword { get; set; }
    }
}