@using Web.WebApp.Pages.Account
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>You're not log in yet. You're redirected to Log In page...</p>
                    <RedirectToLoginPage />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(BlankLayout)">
                <h5>404 Not Found</h5>
                <p>Sorry, this page has been moved or not exist.</p>
                <HeadContent>
                    <meta name="robots" content="noindex" />
                </HeadContent>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
