@using Web.WebApp.Pages.Account
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <MudContainer MaxWidth="@MaxWidth.Medium" Class="p-5" Style="min-height: 320px;">
                        <p class="p-5">You're not log in yet. You're redirected to Log In page...</p>
                    </MudContainer>
                    <RedirectToLoginPage />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <MudContainer MaxWidth="@MaxWidth.Medium" Class="p-5" Style="min-height: 320px;">
                    <PageTitle>Page Not found</PageTitle>
                    <h5>Page Not Found 404</h5>
                    <p>Sorry, this page has been moved or not exist.</p>
                    <HeadContent>
                        <meta name="robots" content="noindex" />
                    </HeadContent>
                </MudContainer>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
